if SHIELD_MELON_V1_LEFT

config ZMK_KEYBOARD_NAME
    default "Melon V1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif 

if SHIELD_MELON_V1_LEFT || SHIELD_MELON_V1_RIGHT

config ZMK_SPLIT
    default y

endif